@use "../../scss/variables.scss" as *;

.logement {
    color: $color-primary;
    
    h1 {
        font-weight: 400;
        margin-block: 0;
    }

    h2 {
        margin-bottom: 0.2em;
        font-size: 18px;
    }
    
    & .logement_tags {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
        gap: 1rem;
        margin-bottom: 30px;
        span{
        background-color: $color-primary;
        color: $color-tertiaire;
        padding: 0.3em 1em;
        border-radius: .7rem;
        }
    }
    .apartment_description_area {
        display: flex;
        gap: 1rem;
        overflow: hidden;
        @media screen and (width <= 753px) {
            flex-direction: column;
        }
    }
    
}

