@use "src/scss/variables" as *;

.Navbar {
    display: flex;
    gap: 57px;
    margin: 40px;
    @media screen and (width <= 753px) {
        text-transform: uppercase;
        font-weight: 400;
    }
    & a {
        font-family: Montserrat;
        color: $color-primary;
        text-decoration: none;
        &:hover, 
        &.active {
            text-decoration: underline;
        }
    }
}