@use "src/scss/variables" as *;

.footer {
    background-color: $footer-background-color;
    color: $color-tertiaire;
    padding: 20px;
    text-align: center;
    min-height: 100px;
    display: grid;
    place-items: center;
}