$color-primary: #ff6060;
$color-secondary: #863535;
$color-tertiaire: white;
$grid-background: rgba(38, 38, 38, 0.119);
$background-light: #f6f6f6;
$grid-background-light: white;
$footer-background-color: black;